#imgs-home {
  position: relative;
}

#imgs-home #img-floresta {
  width: 100vw;
  height: 26.6rem;
  filter: brightness(50%);
}

#imgs-home #logo-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  height: 14.21rem;
}

@media screen and (max-width: 600px) {
  #imgs-home #img-floresta {
    height: 13rem;
  }
  #imgs-home #logo-home {
    width: 10rem;
    height: 7rem;
  }
}