.galeria{
  & div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    img{
      max-width: 13.3rem;
    }
  }
}

@media (max-width: 400px) {
  .galeria {
    margin-bottom: 0.3rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-inline: 0.3rem;
    max-width: 94vw;
  }
  .galeria div {
    max-width: 94vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
    img {
      max-width: 10rem;
      height: auto;
      border-radius: 0.5rem;
    }
  }
}