.glossario{
  margin-bottom: 3rem;
  & div{
  border: .1rem solid var(--brand-color);
  border-radius: 1rem;
  padding: 2rem;
}
}

@media (max-width: 400px) {
  .glossario {
    margin-bottom: 0.3rem;
    margin-inline: 0.3rem;
    max-width: 94vw;
  }
  .glossario div {
    padding: 0.2rem;
    gap: 0.15rem;
    border-radius: 0.3rem;
    max-width: 94vw;
    box-sizing: border-box;
  }
}