html, body {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* conteúdo cresce para ocupar o espaço restante */
}


.main-home {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}




