.parceiros-box{
  margin-inline: auto;
  width: 44rem;
  & h2.xilosa {
    margin-bottom: 2rem;
  }
  & .retrato{
    width: 86%;
    margin-left: 4rem; /* ADICIONAR: margem esquerda maior */
    & img{
      width: 100;
    }
  }
  & .img-box{
    margin-block: 2rem;
    margin-left: 4rem; /* ADICIONAR: margem esquerda maior */
    & legend{
      color: var(--brand-color);
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    & .principal{
       & img{
         height: 18rem;
         width: 100%;
       }
     }
   }
}

.second {
  display: flex;
  justify-content: space-between; /* uma à esquerda, outra à direita */
  gap: 0.5rem;
}

.second img {
  height: 18rem;
  width: 48%;        /* duas imagens quase metade da largura cada */
  object-fit: cover;
}

@media (max-width: 600px) {
  .parceiros-box {
    width: 100vw;
    padding-inline: 1.5rem;
  }
  .retrato{
    max-width: 100%;
    overflow: hidden;
    & img{
      max-width: 100%;
    }
  }
  .parceiros-box{
    width: 90%;
  }
  .parceiros-box {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .parceiros-box .img-box .principal img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 18rem;
  }
  .second {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .second img {
    width: 100%;
    height: auto;
    max-height: 18rem;
  }
  .second #img-1,
  .second #img-2 {
    width: 100%;
    max-width: 100%;
  }
}