.nome-planta{
  font-family: var(--xilosa);
}

ul{
  & li{
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--apoio-impar);
    display: flex;
    gap: 1.5rem;
    & .nome-planta{
      color: var(--brand-color);
      font-weight: 500;
      font-size: 2rem;
      display: block;
      margin-bottom: .5rem;
    }
    & img{
      width: 15rem;
      height: 13rem;
    }
  }

  & li:hover{
    border: solid 1px var(--brand-border);
    background-color: var(--apoio-par);
  }
}

@media screen and (max-width: 400px) {
  ul{
    & li{
      flex-direction: column;
      padding: 1rem;
      & .nome-planta{
        font-size: 1.2rem;
        margin-bottom: .3rem;
      }
      & img{
        width: 8rem;
        height: 7rem;
      }
    }
  }
}