*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--lexend);
  overflow-x: hidden;
}

:root{
  /*cores*/
  --brand-color: #42AB34;
  --brand-border: #092F44;
  --background: #F2F2F2;
  --standart-red: #E41F1C;
  --standart-grey: #27262B;
  --apoio-par: #A1D59A80;
  --apoio-impar: #E9E9E9;
  --verde-logo: #0f3e09;
  /*fontes*/
  --xilosa: "Xilosa", sans-serif;
  --lexend: "Lexend", sans-serif;
  --h1: 8rem var(--xilosa);
  --h2: 4rem var(--xilosa);
  --h3: 2.5rem var(--xilosa);
  --text: 400 1rem var(--lexend);
  --legend: .75rem;

  --aba: 500 1.4rem var(--lexend);
}

@media (max-width: 600px) {
  :root {
    --h1: 3rem var(--xilosa);
    --h2: 2.5rem var(--xilosa);
    --h3: 1.5rem var(--xilosa);
    --text: 400 0.95rem var(--lexend);
    --legend: 0.5rem;
    --aba: 500 0.8rem var(--lexend);
  }
}

a{
  color: inherit;
  text-decoration: none;
}



@font-face {
  font-family: "Xilosa";
  src: url("/fonts/xilosa_.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-display: swap;
}

body{
  background-color: var(--background);
}