.cabecalho{
  background-color: var(--brand-color);
  height: 3.937rem;
  align-items: center;
  display: flex;
  & span{
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: 3rem;
  }
  & a{
  font: var(--aba);
  font-family: var(--xilosa);
  color: var(--background);
}
}

.imagem{
  img{
    height: 3.5rem;
    margin-left: 2rem;
  }
}

.admin{
  padding-left: 2rem;
}

@media screen and (max-width: 400px) {
  .cabecalho{
    & span{
      gap: .5rem;
      margin-right: .4rem;
    }
    & a{
      font-size: .6rem;
    }
  }
  .imagem{
    img{
      height: 2.5rem;
      margin-left: .4rem;
    }
  }
  .admin{
    padding-left: .4rem;
  }
}


